# Default override file (Production-like configuration)

services:
  db:
    ports:
      - "5433:5432" # Default to binding on 5433 to avoid local postgres conflicts

  backend:
    environment:
      - ROOT_PATH=/api
    ports:
      - "8000:8000"

  frontend:
    ports:
      - "80:80"
