name: Deploy RatBat2
permissions:
    contents: read
on: 
    push:
        branches: ["main"]
    workflow_dispatch: # allows for manual deployment

jobs:
    deploy: 
        runs-on: self-hosted
        environment: Production
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            - name: Deploy to RatBat2
              run: |
                  cd /home/RatBat2/OCD-Rat-Infrastructure
                  echo "--- Pre-stop Network State ---"
                  ip route
                  
                  echo "--- Stopping Containers to Clear Network Jam ---"
                  docker compose down
                  
                  echo "--- Post-stop Network State ---"
                  ip route
                
              
              
